.article {
    display: flex;
    margin: 10px 25px 40px 25px;
}

.article-photo {
    width: 25%;
    object-fit: cover;
    /* border-radius: 5px; */
}

.article-content {
    margin-left: 10px;
    /* text-align: center; */
}

.article-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.article-date {
    font-style: italic;
    font-size: 15px;
    color: #999;
}

.article-description {
    font-family: 'Varela Round', sans-serif;
    text-align: justify;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}