.write {
    margin: 3% 7% 0 7%;
}

.write-header {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
}

.write-group {
    position: relative;
    display: flex;
}

.last-group {
    margin-bottom: 70px;
}

.write-form {
    position: relative;
}

.write-file {
    font-size: 50px;
    cursor: pointer;
    color: darkcyan;
}

.write-game-input {
    border: none;
    outline: none;
    border-bottom: teal solid 1px ;
    font-size: 25px;
    margin-left: 20px;
}

.write-game-search {
    margin-left: 20px;
    color: white;
    background-color: teal;
    border-radius: 5px;
    font-size: 15px;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.write-game-select {
    width: 40em;
    font-size: 20px;
    border-color: teal;
    outline: none;
    border-radius: 5px;
    margin: 20px 0 20px 20px;
}

.select-disabled {
    color: grey;
}

.write-game-error {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 3px;
    width: 20em;
    font-size: 20px;
    color: red;
    margin-left: 20px;
}

.write-title {
    border: none;
    outline: none;
    border-color: transparent;
    font-size: 40px;
    margin-left: 30px;
}

.write-description {
    height: 60vh;
    width: 100%;
    border: none;
    outline: none;
    border-color: transparent;
    font-size: 25px;
    margin-top: 50px;
    margin-left: 20px;
}

.write-submit {
    position: absolute;
    right: 50%;
    color: white;
    background-color: teal;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
}